/* 遮罩层样式 */
.overlay-darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明遮罩 */
    z-index: 10; 
    display: none; /* 默认不显示 */
}

/* 评论区域和评论输入框的容器的样式，确保其 z-index 比遮罩层高 */
#comments, #waline {
    position: relative; 
    z-index: 11; 
}