.overlay-darken {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98; 
    display: none; /* 默认不显示 */
}

#comments, #waline {
    z-index: 99; 
    position: relative;
}