.markdown-body code, .markdown-body pre {
    font-family: "Noto Serif SC",monospace !important;
    font-size: 100% !important;
}

html, body, header, .markdown-body {
    font-family: "Noto Serif SC", sans-serif !important;
    font-size: 18px !important;
}